$primary:#0092CB;
$secondary: #FAFAFA;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    .request-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: flex-start;
        min-width: 100%;
        min-height: 100vh;
        font-family: 'DM Sans', sans-serif;
        .request-body {
            display: grid;
            grid-template-columns: .25fr 1fr;
            width: 100%;
            .request-main-content {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px 150px 50px 30px;
                width: 100%;
                h1 {
                    align-self: flex-start;
                    margin-left: 100px;
                }
                form {
                    min-width: 60%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 100px;
                    label {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 18px;
                        margin-bottom: 20px;
                        font-weight: 400;
                        select {
                            height: 30px;
                            width: 50%;
                            text-indent: 5px;
                            background: white;
                            border: none;
                            border-bottom: solid 1px $primary;
                            font-size: 16px;
                            background: transparent;
                            &:focus {
                                outline: none;
                                border-bottom: solid 2px $primary;
                            }
                            option {
                                border: none;
                            }
                        }
                        input {
                            height: 30px;
                            width: 50%;
                            text-indent: 5px;
                            //border: solid .1px #707070;
                            //border-radius: 5px;
                            border: none;
                            border-bottom: solid 1px $primary;
                            font-size: 16px;
                            background: transparent;
                            &:focus {
                                outline: none;
                                border-bottom: solid 2px $primary;
                            }
                        }
                        textarea {
                            height: fit-content;
                            max-width: 50%;
                            min-width: 50%;
                            font-family: inherit;
                            text-indent: 5px;
                            border: none;
                            border-bottom: solid 1px $primary;
                            font-size: 16px;
                            background: transparent;
                            &:focus {
                                outline: none;
                                border-bottom: solid 2px $primary;
                            }
                        }
                    }
                    .request-loading {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .save-request {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            min-width: fit-content;
                            padding: 8px 20px;
                            cursor: pointer;
                            font-size: 18px;
                            background: $primary;
                            color: white;
                            border: none;
                        }
                        .request-spinner {
                            animation: Loading-spin infinite 0.5s linear;
                        }
                    }
                }

            }
        }
    }
}    

@keyframes Loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}