.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 50px;
        max-width: fit-content;
        box-shadow: 0px .1px 5px .1px rgba(20,20,20,0.4);
        .filter-button {
            margin-left: 20px;
            font-size: 20px;
            cursor: pointer;
        }
        form {
            display: flex;
            flex-direction: row;
            .search-bar{
                width:600px;
                height:40px;
                border:none;
                margin-left: 5px;
                font-family:"Poppins";
                background: white;
                padding-left: 20px;
                padding-right: 20px;
                box-shadow: none;
                font-size: 16px;
                &:focus{
                    outline:none !important;
                }
            }
            .search-button{
                width: fit-content;
                height:40px;
                padding: 5px 25px 5px 20px;
                border:0px;
                border-radius: 0px 50px 50px 0px;
                background-color: #0092CB;
                font-family:"Poppins";
                color:white;
                font-size:16px;
                box-shadow: none;
                transition: all 0.5s;
                &:hover{
                    color: #0092CB;
                    background-color:white;
                    cursor: pointer;
                }
            }
        }
    }
    .filter-block {
        width: 100%;
        display: flex;
        align-self: flex-start;
        padding: 10px 15px;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        transition: 0.4s all;
        label {
            display: flex;
            align-items: center;
            gap: 5px;
            width: fit-content;
            input {
                &:hover {
                    cursor: pointer;
                }
            }
            select {
                border: none;
                outline: none;
                border-bottom: solid 1px #0092CB;
                background: transparent;
                height: 20px;
                &:hover {
                    cursor: pointer;
                }
                option {
                    border: none;
                }
            }
        }
    }
    .filter-hidden {
        display: none;
        transition: 0.4s all;
    }
}
