.input-flex{
    
    .TextInput2-input{
        width:250px;
        input{
        width:inherit;
        padding:6px 10px;
        font-family:"Montserrat";
        font-size:.9em;
        border-radius:5px;
        border:1px solid black;
        &:focus{
            outline:none;
            border:1px solid #0092CB;
        }
    }
}
}